@use '../../styles/settings/index.scss' as *;

.card1{
    .header-text, .unit{color: $teal-3;}
}
.card2{
    .header-text, .unit{color: $purple-2;}
}
.card3{
    .header-text, .unit{color: $green-6;}
}
.card4{
    .header-text, .unit{color: $orange-1;}
}
.card5{
    .header-text, .unit{color: $blue-4;}
}
.card6{
    .header-text, .unit{color: $red-1;}
}

.header-text {
    @include text-4-bold;
    text-transform: uppercase;
    text-align: center;
}

.unit {
    @include text-4-regular;
    text-transform: none;
}

.financial {
    padding: $s-y-gap $s-x-gap;
    background-color: $blue-8;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: $s-gap;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    border-radius: $border-radiusx2;
    overflow: hidden;
    row-gap: $l-gap;
    column-gap: $l-gap;
}


.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;

    .header,
    .graph-container {
        @include shadow;
        background-color: $white-1;
        border-radius: $border-radiusx2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .graph-container {
        width: 100%;
        height: auto;
        padding: 10px 5px;

        .graph {
            width: inherit;
            height: auto;
        }
    }
}

@include gt-xs{
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    border-radius: $border-radiusx2;
    overflow: hidden;
    row-gap: $l-gap;
    column-gap: $l-gap;
}
}

@include gt-sm{
    .financial {
        padding: $l-y-gap $l-x-gap;
        row-gap: $l-gap;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        row-gap: $l-gap;
        column-gap: $l-gap;
    }
    
    
    .card {
        row-gap: 10px;
    }
}