@use '../../styles/settings/index.scss' as *;



.navbar {
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1000;
    padding: 0px $s-x-gap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    transition: ease-in-out 0.3s;

}

.icon-container{
    // background-color: $white-1;
    padding: 5px;
}

.logo{
    pointer-events: all;
    width: 50px;
    height: auto;
}

.burger-button {
    // @include shadow;
    cursor: pointer;
    // background-color: $blue-1;
    // border: $border-weight $white-1;
    // border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 12px 15px;
    height: fit-content;
    pointer-events: all;
    .burger{
        width: 20px;
        height: auto
    }
}

.open-navbar {
    @include shadow;
    position: fixed;
    right: 0;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    background-color: $theme-4;
    height: 100vh;
    width: auto;
    justify-content: space-between;
    width: 70vw;
}

.top-flex {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px $s-x-gap;
}

.close-container {
    align-self: flex-end;

    .close {
        font-size: $s-close-button;
        color: $grey-1
    }
}

.list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    a {
        @include text-3-regular;
        text-decoration: none;
        color: $dark-1;
        transition: ease 0.2s;
        
        &:hover {
            @include text-3-bold;
            color: $teal-3;
        }
    }
}

.social-wrapper{
    margin: 0 $s-x-gap;
    padding: 5px 0;
    border-top: $border-weight $grey-2;
    .social-links{
        display: flex;
        column-gap: $l-gap;
        align-items: flex-end;
    }
    .social-icon{
        fill: $dark-1;
        transition: ease 0.2s;
        &:hover{            
            fill: $teal-3;
        }
    }
}

.feedback-wrapper {
    background-color: $teal-2;
    padding: 20px $s-x-gap;
}

.text {
    @include text-3-bold;
    text-transform: uppercase;
    margin: 10px 0;
}

@include gt-sm{
    .navbar {
        padding: 0px $l-x-gap;
    
    }
    .close-container {
        .close {
            font-size: $l-close-button;
        }
    }
    .top-flex {
        display: flex;
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }
    .open-navbar {
        width: auto;
    }
}