@use '../../styles/settings/index.scss' as *;

.margin {
    // padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

.slider {
    padding: 2rem;
    max-width: 95vw;
}

.navigation{
    $size: 40px;
    background-color: $blue-1;
    color: $white-1;
    width: $size;
    height: $size;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}

.prev {
    margin-right: -1.5rem;
}

.next {
    margin-left: -1.5rem;
}