@use '../../styles/settings/index.scss' as *;


.title,
.paragraph,
.countdown-number,
.bold,
.text {
    margin: 0
}

.title {
    @include header-4-bold;
}

.paragraph {
    @include text-3-regular;
    letter-spacing: 2px;
    span{
        @include number-5;
    }
    .bold {
        @include text-3-bold;
    }
    
}

.countdown-number {
    @include number-1;
    text-align: center
}

.bold {
    @include text-3-bold;
}

.text {
    @include text-3-regular;
    span{
        @include number-5;
    }
}

.superscript {
    @include text-2-bold;
}

.container {
    background-color: $theme-3;
    padding: $s-y-gap $s-x-gap;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: $s-gap;
    row-gap: $s-gap;
}


.text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: $s-gap;
}

.button {
    $height: 44px;
    background-color: $blue-1;
    border-radius: 10rem;
    position: relative;
    width: fit-content;
    height: $height;
    overflow: hidden;

    .before {
        color: $white-1;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        column-gap: $s-gap;
        padding: 10px 20px;
        transition: ease-in-out 0.2s;

        .button-text {
            margin: 0;
            @include text-3-regular;
        }
    }

    .after {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        transform: translateY(50px);
        transition: ease-in-out 0.2s;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &:hover {
        .before {
            transform: translateY(50px);
        }

        .after {
            transform: translateY(-$height);
        }
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    row-gap: $s-gap;

    .countdown-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        place-items: center;
        column-gap: $s-gap;
        border-bottom: 1px solid $dark-2;
        padding-bottom: 30px;
    }

    .countdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: $s-gap;
    }

    .countdown-number {
        @include shadow;
        background-color: $white-1;
        padding: 20px 0;
    }

    .text {
        text-align: center;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .info {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }
}

@include gt-xs {
    .info-container {
        flex-direction: row;
        row-gap: $s-gap;

        .countdown-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            column-gap: $s-gap;
            border-bottom: none;
            padding-bottom: 0px;
            padding-right: 30px;
        }

        .countdown-number {
            min-width: 6rem;
        }

        .info-wrapper {
            flex-direction: column;
            margin-top: 0px;
            row-gap: $s-gap;
            justify-content: center;
            padding-left: 30px;
            border-left: $border-weight $dark-1;
        }
    }
}


@include gt-sm {
    .container {
        padding: $l-y-gap $l-x-gap;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: $l-gap;
    }

    .text-wrapper {
        row-gap: $l-gap;
    }

    .button {
        $height: 44px;
        height: $height;

        .before {
            column-gap: $l-gap;
        }

        &:hover {
            .before {
                transform: translateY(50px);
            }

            .after {
                transform: translateY(-$height);
            }
        }
    }

    .info-container {
        flex-direction: column;
        row-gap: $l-gap;

        .countdown-wrapper {
            column-gap: $l-gap;
            border-bottom: 1px solid $dark-2;
            padding-bottom: 30px;
        }

        .countdown {
            row-gap: $l-gap;
        }

        .countdown-number {
            min-width: 0;
        }

        .text {
            text-align: center;
        }

        .info-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: $l-gap;
            padding-left: 0;
            border-left: none;
        }

        .info {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }
    }
}