@use '../../styles/settings/index.scss' as *;

.container {
    background-color: $theme-4;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    .video-col {
        grid-area: 1/1/3/2
    }

    .text-col {
        grid-area: 2/1/3/2
    }
}

.text {
    @include text-3-regular;
    text-align: justify;
}

.modal-number {
    @include number-5;
}

.bold {
    @include text-3-bold;
}

.number {
    @include number-3;
}

.header-subtitle {
    @include text-4-regular;
    letter-spacing: 4px;
    line-height: 12px;
    margin: 0;
}

.header-subtitle-1 {
    @include text-1-bold;
    color: #C4C4C6;
    text-transform: uppercase;
    margin: 0;
}

.video {
    display: none;
}

.video-small {
    display: block;
    width: 100%;
}


.modal-container {
    display: flex;
    height: 100vh;
}

.modal {
    @include shadow;
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    background-image: linear-gradient(90deg,#88c358,#e8f3f4);
    border-radius: $border-radius;
    flex-flow: column-reverse;
}

.cover-image {
    height: 100%;
    width: 100%;
    padding: auto $s-gap;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: $s-gap;
    border-radius: 0 $border-radius $border-radius 0;

    .close-container {
        align-self: flex-end;

        .close {
            font-size: $s-close-button;
            color: #ACAEB1;
        }
    }
}


.text-col {
    display: flex;
    flex-direction: column;
    row-gap: $s-gap;
    margin: $s-gap $s-x-gap;
    z-index: 0;
    align-items: flex-start;
    text-align: left;
    padding: $s-x-gap 0;

    .header {
        color: $blue-1;
        margin: 0;
        @include header-2-regular;
        text-transform: uppercase;

        .bold {
            @include header-2-bold;
            text-transform: uppercase;
        }
    }

}

.scroll {
    display: none;
}

@include gt-xs {
    .text-col {
        .header {
            max-width: 50vw;
        }
    }

    .video {
        display: block;
        width: 100%;
    }

    .video-small {
        display: none;
    }

}


@include gt-sm {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        place-items: center;

        .video-col {
            grid-area: 1/1/2/3;
            width: 100%;

            .video {
                object-fit: cover;
                object-position: 50% 15%;
                height: clamp(640px, 100vh, 770px);
            }
        }

        .text-col {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-end;
        }

        .scroll {
            grid-area: 1 / 1 / 2 / 3;
        }
    }



    .modal {
        flex-direction: row;
        margin: auto 2rem;
    }

    .cover-image {
        height: 100%;
        width: 30vw;
        padding: auto $l-gap;
    }

    .content {
        padding: $l-gap 40px $l-gap $l-gap;

        .close-container {
            .close {
                font-size: $l-close-button;
            }
        }


    }

    .video-small {
        display: none;
    }

    .video {
        display: block;
    }

    .text-col {
        row-gap: $l-gap;
        margin: 0 0 0 $l-x-gap;
        padding: 0 $l-x-gap $l-y-gap 0;
    }

    .video-col {
        grid-area: 1 / 1 / 2 / 2;

        .video {
            // width: 100%;
            // height: 100%;
        }
    }

    .scroll {
        align-self: flex-end;
        position: relative;
        width: auto;
        height: auto;
        display: block;
        display: flex;
        align-items: flex-end;

        .scroll-icon {
            width: 7rem;
            height: auto;
        }
    }
}

@include gt-lg {
    .container {
        .video-col {
            height: 100%;

            .video {
                height: clamp(660px, 100vh, 1080px);
                object-fit: cover;
            }
        }
    }
}