@use '../../styles/settings/index.scss' as *;



$padding-top: 3rem;

.indicator-text {
    @include text-4-regular;
    text-transform: capitalize;
    // margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    place-items: center;

    .title {
        grid-area: 1/1/2/2;
        justify-self: flex-start;
        z-index: 1;
        padding-left: $s-x-gap;
        padding-top: $padding-top;
    }

    .tab-container {
        grid-area: 2/1/3/2;
        z-index: 1;
    }

    .content-wrapper {
        grid-area: 1/1/4/2;
        z-index: 0;
    }
}

.content-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(8rem + $padding-top) auto auto auto;
    place-items: center;

    .background {
        grid-area: 1/1/5/2;
        z-index: 0;
    }

    .content {
        grid-area: 2/1/3/2;
        z-index: 1;
        padding: 80px $s-x-gap $s-x-gap;
        display: flex;
        flex-direction: column;
        // row-gap: $s-gap;
    }

    .content-image-container {
        grid-area: 3/1/4/2;
        z-index: 1;
        align-self: flex-start;
        // margin-top: 8rem;
        // padding-bottom: 8rem;
    }

    .content-video-container {
        grid-area: 4/1/5/2;
        z-index: 1;
        align-self: flex-start;
        // margin-top: 8rem;
    }
}




.background {
    display: grid;
    grid-template-columns: 65% auto;
    // grid-template-columns: 65% auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;

    // .background-inner {
    //     background-color: $white-1;
    //     grid-area: 1/1/2/2;
    //     height: 100%;
    //     width: 100%;
    //     border-radius: 0 $background-radius 0 0;
    // }
}

.tab-container {
    display: flex;
    flex-direction:column;
    // row-gap: $s-gap;

    .instructions {
        align-self: flex-start;
        // background-color: $white-1;
    }
}

.tab-wrapper {
    $size: 3rem;
    display: flex;
    // column-gap: $s-gap;
    align-items: flex-end;
    justify-content: space-between;
    width: 90vw;

    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $size;
        cursor: pointer;

        .tab-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;

            .tab-text {
                @include text-5-bold;
                text-transform: uppercase;
                text-align: center;
                color: $grey-2;
                margin: 0;
                max-width: fit-content;
            }

            &::after {
                @include triangle;
                background-color: $grey-2;
            }


        }

        .tab-label-active {
            .tab-text {
                color: $dark-2;
            }

            &::after {
                background-color: $dark-1;
            }
        }

        .icon-container {
            width: $size;
            height: $size;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                width: calc($size - 20px);
                height: auto;
            }
        }


    }

}

.indicator-wrapper {
    $size: 30px;
    background-color: $blue-1;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    .indicator{
        width: calc($size - 15px);
        height: auto;
    }
}

.instructions {
    display: flex;
    column-gap: 10px;
    align-items: center;
    // background-color: $white-1;
    padding: 5px 10px;
}

.content {
    display: flex;
    flex-direction: column;

    .content-title {
        width: 100%;

        .content-title-text {
            @include text-1-bold;
            @include shadow;
            background-color: $white-1;
            text-transform: uppercase;
            margin: 0;
            padding: 10px;
        }

        &::before {
            @include accent;
            background-color: var(--tab-color);
        }
    }

    .content-data-container {
        display: flex;

        .category {
            @include header-1;
            margin: 1rem 0;
            text-transform: uppercase;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            text-align: right
        }

        .content-desc {
            @include text-2-1-bold;
            text-transform: capitalize;
            margin: 10px 0 0;

            &::after {
                @include accent;
                background-color: var(--tab-color);
                margin-top: 0.5rem;
            }
        }

        .content-data-wrapper {
            row-gap: $s-gap;
        }

        .card-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            // column-gap: $s-gap;
            
        }

        .card {
            padding: 10px;
            // display: flex;
            // flex-direction: column;
            row-gap: 10px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr auto auto auto;
            
            &:nth-child(2){
                border-left: 0.5px solid $dark-1;
                padding-left: 10px;
            }

            .data-title,
            .data-units,
            .data-year,
            .data-figure {
                margin: 0;
            }

            .data-title {
                @include text-3-bold;
                text-transform: uppercase;
            }

            .data-year {
                @include number-3;
            }

            .data-units {
                @include text-4-regular;

                &::after {
                    @include triangle;
                    margin-top: 0.5rem;
                    background-color: var(--tab-color);
                }
            }

            .data-figure {
                @include number-2;
            }
        }
    }
}

.content-image-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.1;
    overflow: hidden;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transform: scale(1.2);
        animation: kenburns 100s ease-in-out infinite;
    }

    @keyframes kenburns {
        0% {
            transform: scale(1.2) translate(0, 0);
        }

        25% {
            transform: scale(1.5) translate(-10%, -10%);
        }

        50% {
            transform: scale(1.2) translate(0, 0);
        }

        75% {
            transform: scale(1.5) translate(10%, 10%);
        }

        100% {
            transform: scale(1.2) translate(0, 0);
        }
    }
}



.content-video-container {
    width: 100%;
    height: auto;
    z-index: 10;
    padding: 0 $s-x-gap;

    .video {
        width: inherit;
        height: inherit;
        object-position: 0% 50%;
        object-fit: cover;
    }
}

.inner-tab {
    display: flex;

    .inner-tab-content {
        @include text-1-bold;
        text-transform: uppercase;
        flex-grow: 1;
        border-radius: $border-radiusx2 $border-radiusx2 0 0;
        display: flex;
        justify-content: center;
        padding: 10px;
        cursor: pointer;

        p {
            margin: 0;
        }
    }

}

.download {
    padding-top: 30px;
}

.download-large {
    display: none;
}

.download-small {
    display: block;
    justify-self: flex-start;
    padding: $s-gap $s-x-gap $s-y-gap;
}

@include gt-xs {

    .content-wrapper {
        .content {
            padding: 120px $s-x-gap $s-x-gap;
        }
    }


    .content-wrapper {
        grid-template-columns: auto;
        grid-template-rows: calc(12rem + $padding-top) auto auto auto;
        place-items: center;
    }

    .tab-container{
        flex-direction: column;
    }

    .tab-wrapper {
        $size: 5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 $s-x-gap;

        .tab {
            .tab-label {
                .tab-text {
                    @include text-4-bold;
                }
            }

            .icon-container {
                width: $size;
                height: $size;

                .icon {
                    width: calc($size - 20px);
                    height: auto;
                }
            }

        }

    }

}


@include gt-sm {
    $padding-top: 3rem;
    // to push down the video/image
    $margin-top: 12rem;

    .wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        place-items: center;

        .title {
            grid-area: 1/1/2/2;
            justify-self: flex-start;
            align-self: flex-end;
            z-index: 1;
            padding-left: $l-x-gap;
            padding-top: $padding-top;
        }

        .tab-container {
            grid-area: 1/2/2/3;
            z-index: 1;
            padding-top: $l-gap;
        }

        .content-wrapper {
            grid-area: 1/1/4/3;
            z-index: 0;
        }
    }

    .tab-container {
        row-gap: $l-gap;

        .instructions {
            align-self: flex-end;
        }
    }


    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: calc(15rem + $padding-top) auto auto;
        column-gap: $l-gap;
        // place-items: center;
        
        .background {
            grid-area: 1/1/4/3;
            z-index: 0;
        }
        
        .content {
            grid-area: 2/1/4/2;
            z-index: 1;
            display: flex;
            flex-direction: column;
            // row-gap: $l-gap;
            padding: 0 0 $l-y-gap $l-x-gap;
        }

        .content-image-container {
            grid-area: 2/2/4/3;
            z-index: 1;
            align-self: flex-start;
            // margin-top: $margin-top;
            padding-bottom: 8rem;
        }

        .content-video-container {
            grid-area: 2/2/4/3;
            z-index: 1;
            align-self: flex-start;
            // margin-top: $margin-top;
        }
    }




    .background {
        display: grid;
        grid-template-columns: 65% auto;
        grid-template-rows: auto;
        height: 100%;
        width: 100%;

        .background-inner {
            // background-color: $white-1;
            // grid-area: 1/1/2/2;
            // height: 100%;
            // width: 100%;
            // border-radius: 0 $background-radius 0 0;
            display: none;
        }
    }

    .tab-wrapper {
        $size: 5rem;
        display: flex;
        column-gap: 40px;
        justify-self: flex-end;
        width: auto;

        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: $size;
            cursor: pointer;

            .tab-label {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;

                .tab-text {
                    @include text-4-bold;
                    text-transform: uppercase;
                    text-align: center;
                    color: $grey-2;
                    margin: 0;
                }

                &::after {
                    @include triangle;
                    background-color: $grey-2;
                }


            }

            .tab-label-active {
                .tab-text {
                    color: $dark-2;
                }

                &::after {
                    background-color: $dark-1;
                }
            }

            .icon-container {
                width: $size;
                height: $size;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: calc($size - 20px);
                    height: auto;
                }
            }


        }

    }

    .indicator-wrapper {
        $size: 30px;
        background-color: $blue-1;
        width: $size;
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        // padding: 20px;
        .indicator{
            width: calc($size - 15px);
            height: auto;
        }
    }


    .instructions {
        display: flex;
        column-gap: 10px;
        align-items: center;
        // background-color: $white-1;
        padding: 5px 10px;
    }


    .content {
        display: flex;
        flex-direction: column;


        .content-title {
            width: 100%;

            .content-title-text {
                @include text-1-bold;
                @include shadow;
                background-color: $white-1;
                text-transform: uppercase;
                margin: 0;
                padding: 10px;
            }

            &::before {
                @include accent;
                background-color: var(--tab-color);
            }
        }

        .content-data-container {
            display: flex;

            .category {
                @include header-1;
                margin: 1rem 0;
                text-transform: uppercase;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                text-align: right
            }

            .content-desc {
                // @include text-2-bold;
                // text-transform: capitalize;
                // margin: 20px 0 0;

                &::after {
                    @include accent;
                    background-color: var(--tab-color);
                    margin-top: 0.5rem;
                }
            }

            .content-data-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: $l-gap;
            }


            .card {
                padding: 10px;
                // display: flex;
                // flex-direction: column;
                // row-gap: 10px;

                &:nth-child(2){
                    padding-left: 30px;
                }

                .data-title,
                .data-units,
                .data-year,
                .data-figure {
                    margin: 0;
                }

                .data-title {
                    @include text-3-bold;
                    text-transform: uppercase;
                }

                .data-year {
                    @include number-3;
                }

                .data-units {
                    @include text-4-regular;

                    &::after {
                        @include triangle;
                        margin-top: 0.5rem;
                        background-color: var(--tab-color);
                    }
                }

                .data-figure {
                    @include number-2;
                }
            }
        }
    }

    .content-image-container {
        width: 100%;
        height: 30rem;
        overflow: hidden;
        position: relative;

        .image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(1.2);
        }
    }



    .content-video-container {
        width: 100%;
        height: 30rem;
        z-index: 10;
        padding: 0;

        .video {
            width: inherit;
            height: inherit;
            object-position: 0% 50%;
            object-fit: cover;
        }
    }

    .inner-tab {
        display: flex;

        .inner-tab-content {
            @include text-1-bold;
            text-transform: uppercase;
            flex-grow: 1;
            border-radius: $border-radiusx2 $border-radiusx2 0 0;
            display: flex;
            justify-content: center;
            padding: 10px;
            cursor: pointer;

            p {
                margin: 0;
            }
        }

    }

    .download {
        padding-top: 30px;
    }

    .download-large {
        display: block;
        // $padding-bottom: $l-y-gap;
    }

    .download-small {
        display: none;
    }

}