$theme-1: #B8DEC7;
$theme-2: #82CECC;
$theme-3: #B5DCDE;
$theme-4: #F0F8F7;

$green-5: #128663;
$green-6: #43A352;
$green-7: #88C358;
$green-8: #DFDC39;

$blue-1: #112F5E;
$blue-2: #3359AF;
$blue-3: #1683BA;
$blue-4: #00A4E2;
$blue-5: #64A8CF;
$blue-6: #92B7D1;
$blue-7: #C7EAF6;
$blue-8: #E6E7ED;

$dark-1:  #000000;
$dark-2: #2B2E34;
$dark-3: #414042;
$grey-1: #595B60;
$white-1: #FFFFFF;

$purple-1: #5D65A3;
$purple-2: #8E71A1;
$purple-3: #EAE8F0;

$pink-1: #C65A81;
$pink-2: #F7E8EE;

$orange-1: #E8A758;
$yellow-1: #FFAC2D;
$brown-1: #E3B283;

$teal-1: #7AD6D1;
