$theme-1: #B8DEC7;
$theme-2: #82CECC;
$theme-3: #B5DCDE;
$theme-4: #F0F8F7;

$green-5: #128663;
$green-6: #43A352;
$green-7: #88C358;
$green-8: #DFDC39;

$green-9: #FAFAE9;
$green-10: #E6F2DD;
$green-11: #D8ECDB;
$green-12: #CEE6DF;

$blue-1: #112F5E;
$blue-2: #3359AF;
$blue-3: #1683BA;
$blue-4: #00A4E2;
$blue-5: #64A8CF;
$blue-6: #9BB0CB;
$blue-7: #C7EAF6;
$blue-8: #E6E7ED;

$dark-1:  #000000;
$dark-2: #2B2E34;
$dark-3: #414042;
$grey-1: #595B60;
$grey-2: #BCBEC0;
$white-1: #FFFFFF;

$purple-1: #5D65A3;
$purple-2: #8E71A1;
$purple-3: #EAE8F0;

$pink-1: #C65A81;
$pink-2: #F7E8EE;

$yellow-1: #FFAC2D;
$yellow-2: #F8F7DD;

$orange-1: #F6A651;
$orange-2: #FBF1E4;


$brown-1: #E3B283;

$teal-1: #7AD6D1;
$teal-2: #EAF6F5;
$teal-3: #37BDBA;
