@use '../../styles/settings/index.scss' as *;

$margin-card: 3rem;
$height-card: 38rem;
$width-card: 35rem;

.text-bold,
.item-header-text,
.text-normal,
.subheader-header,
.subheader-subheader,
.subheader-text {
    margin: 0;
}

.number{
    @include number-3-bold;
}

.text-bold {
    @include text-4-bold;
    color: $green-5;
}

.text-normal {
    @include text-4-regular;
}

.subheader-header {
    @include text-1-bold;
}

.subheader-subheader {
    @include text-1-bold;
    text-transform: capitalize;
}

.subheader-text {
    @include number-3;
}

.item-header-text {
    @include text-4-bold;
}

.container {
    background-color: $theme-4;
    padding: $l-y-gap $l-x-gap;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    place-items: center;

    .text-wrapper {
        grid-area: 1/1/2/2;
    }

    .card-wrapper {
        grid-area: 1/2/2/3;
        // margin-right: 0;
    }
}


.text-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    .text {
        margin: 20px 0;
    }
}

.card-wrapper {
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    border-radius: $border-radiusx2;
}

.card {
    border-radius: $border-radiusx2;
    height: $height-card;
    width: $width-card;

    &:nth-child(1) {
        margin-left: 0rem;
    }

    &:nth-child(2) {
        margin-left: calc($margin-card * 1);
    }

    &:nth-child(3) {
        margin-left: calc($margin-card * 2);
    }

    &:nth-child(4) {
        margin-left: calc($margin-card * 3);
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        margin-top: calc(-1 * ($height-card - 4rem));
    }
    .header{
        cursor: pointer;
    }
}

.card1 {
    border: 2px solid $green-5;
    background-color: $green-12;

    .header {
        background-color: $green-5;
    }

    .subheader-header {
        color: $green-5
    }
    
    .item-wrapper {
        .item-header {            
            &::before {
                background-color: $green-5;
            }
        }
    }
}

.card2 {
    border: 2px solid $green-6;
    background-color: $green-11;

    .header {
        background-color: $green-6;
    }

    .subheader-header {
        color: $green-6;
    }

    .item-wrapper {
        .item-header {            
            &::before {
                background-color: $green-6;
            }
        }
    }
}

.card3 {
    background-color: $green-10;
    border: 2px solid $green-7;

    .header {
        background-color: $green-7;
    }

    .subheader-header {
        color: $green-7;
    }

    .item-wrapper {
        .item-header {            
            &::before {
                background-color: $green-7;
            }
        }
    }
}

.card4 {
    background-color: $green-9;
    border: 2px solid $green-8;

    .header {
        background-color: $green-8;
    }

    .subheader-header {
        color: $green-8;
    }

    .item-wrapper {
        .item-header {            
            &::before {
                background-color: $green-8;
            }
        }
    }
}


.arrow {
    color: $white-1
}

.active {
    transform: rotate(90deg);
}


.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radiusx2 $border-radiusx2 0 0;

    .header-text {
        @include text-4-bold;
        text-transform: uppercase;
        color: $white-1;
    }
}

.content {
    padding: 20px 30px;
}

.subheader {
    display: flex;
    column-gap: 20px;
    margin: 10px 0;

    .pillar-icon {
        height: 3rem;
        width: auto;
    }

    .subheader-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.item-wrapper {
    margin: 20px 0;
    .item-header {
        margin-bottom: 10px;
        .item-header-text {
            @include shadow;
            background-color: $white-1;
            padding: 10px 20px;
        }

        &::before {
            @include accent;
        }
    }
}

.sdg-icon-wrapper{
    display: flex;
    column-gap: 3px;
    .sdg-icon{
        width: 3.5rem;
        height: auto;
    }
}

.item-list-wrapper{
    margin: 20px 0;
    .item-list{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 0;
        padding: 0 20px;
    }
}