@use '../../styles/settings/index.scss' as *;

$circle-size: 37rem;



.title,
.paragraph,
.inner-text,
.bold {
    color: $dark-2;
}

.tooltip-text {
    @include text-3-bold;
    text-align: center
}

.map-text {
    .text {
        @include text-1-bold;
        margin: 0;
        text-transform: uppercase;
        color: $purple-2;
    }

    .number {
        margin: 0;
        @include number-1;
        color: $blue-4;
    }

}

.paragraph {
    @include text-3-regular;
}

.inner-text {
    @include text-4-regular;
}

.bold {
    @include text-4-bold;
}

.value-title {
    @include text-3-bold;
    color: $purple-1;
    text-transform: uppercase;
    margin: 5px 0;
}

.reach-title {
    margin: 0 $s-x-gap;
}

.automotive {
    color: $pink-1;
}

.equipment {
    color: $yellow-1;
}

.mnE {
    color: $purple-1;
}

.aerospace {
    color: $blue-4;
}

.who-we-are {
    padding: $s-y-gap $s-x-gap;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: $s-gap;

    .col1 {
        z-index: 0;
        display: flex;
        flex-direction: column;
        row-gap: $s-gap;

        .wow {
            align-self: center;
            width: 100%;
            height: auto;
        }
    }

    .col3 {
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: $s-gap;

        .card1,
        .card2,
        .card3 {
            border-radius: $border-radiusx2;
            background-color: $purple-3;
            padding: 20px;
            text-align: center;

            .value-title-deco {
                padding: 5px auto;
                background: $white-1;
                border-radius: 10rem;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.download-large {
    display: none;
}

.download-small {
    display: block;
}

// ? Reach
.region-title {
    // max-width: 20rem;
}

.region-wrapper {
    position: relative;
}

.region-info-wrapper-phone {
    padding-left: $s-x-gap;
    padding-bottom: $s-gap;
}

.region-info-wrapper {
    display: none;
}

.region {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: $s-gap;

    .map-image {
        display: none;
    }

    .map-image-small {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .tooltip-wrapper {
        position: absolute;
    }

    .tooltip-1 {
        top: 50%;
        left: 13%;
    }

    .tooltip-2 {
        top: 64%;
        left: 20%;
    }

    .tooltip-3 {
        top: 11%;
        left: 25%;
    }

    .tooltip-4 {
        top: 74%;
        left: 76%;
    }

    .tooltip-5 {
        top: 37%;
        left: 23%;
    }

    .tooltip-6 {
        top: 19%;
        left: 1%;
    }

    .tooltip-7 {
        top: 83%;
        left: 38%;
    }

    .tooltip-8 {
        top: 50%;
        left: 42%;
    }
}

.tooltip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip-country {
    @include text-3-bold;
    margin: 5px 0 0;
}

.tooltip {
    @include shadow;
    $size: 20px;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 4px solid $white-1;
}

.tooltip-malaysia {
    background-color: $blue-4;
}

.tooltip-singapore {
    background-color: $teal-3;
}

.tooltip-china {
    background-color: $yellow-1;
}

.tooltip-papua {
    background-color: $orange-1;
}

.tooltip-vietnam {
    background-color: $brown-1;
}

.tooltip-myanmar {
    background-color: $pink-1;
}

.tooltip-indonesia {
    background-color: $green-6;
}

.tooltip-brunei {
    background-color: $purple-2;
}



@include gt-xs {
.region {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: $s-gap;

    .map-image {
        display: none;
    }

    .map-image-small {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .tooltip-wrapper {
        position: absolute;
    }

    .tooltip-1 {
        top: 52%;
        left: 16%;
    }

    .tooltip-2 {
        top: 62%;
        left: 21%;
    }

    .tooltip-3 {
        top: 11%;
        left: 25%;
    }

    .tooltip-4 {
        top: 74%;
        left: 76%;
    }

    .tooltip-5 {
        top: 39%;
        left: 26%;
    }

    .tooltip-6 {
        top: 19%;
        left: 1%;
    }

    .tooltip-7 {
        top: 83%;
        left: 38%;
    }

    .tooltip-8 {
        top: 51%;
        left: 45%;
    }
}

}


@include gt-sm {

    .who-we-are {
        padding: $l-y-gap $l-x-gap;
        display: grid;
        place-items: center;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        column-gap: 50px;

        .col1 {
            grid-area: 1 / 1 / 2 / 2;
            z-index: 0;
            display: flex;
            flex-direction: column;
            row-gap: $l-gap;
        }

        .col3 {
            grid-area: 1 / 2 / 2 / 3;
            z-index: 1;
            display: flex;
            flex-direction: column;
            row-gap: $l-gap;

            .card1,
            .card2,
            .card3 {
                border-radius: $border-radiusx2;
                background-color: $purple-3;
                padding: 20px;
                text-align: center;

                .value-title-deco {
                    padding: 5px auto;
                    background: $white-1;
                    border-radius: 10rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .download-large {
        display: block;
    }

    .download-small {
        display: none;
    }

    // ? regional

    .region-title {
        max-width: 20rem;
    }

    .region-info-wrapper {
        display: block;
        position: absolute;
        top: $l-gap;
        left: $l-x-gap;
        padding-left: 0;
        z-index: 10;
    }

    .map-text{
        position: absolute;
        top: 50%;
        left: $l-x-gap;
        z-index: 10;
    }

    .region-info-wrapper-phone {
        display: none;
    }

    .region {
        position: relative;
        display: flex;

        .map-image {
            position: relative;
            width: 100%;
            height: auto;
            display: block;
        }


        .map-image-small {
            display: none;
        }


        .tooltip-wrapper {
            position: absolute;
        }

        .tooltip-1 {
            top: 52%;
            left: 41%;
        }

        .tooltip-2 {
            top: 62%;
            left: 44%;
        }

        .tooltip-3 {
            top: 7%;
            left: 46%;
        }

        .tooltip-4 {
            top: 74%;
            left: 80%;
        }

        .tooltip-5 {
            top: 37%;
            left: 46%;
        }

        .tooltip-6 {
            top: 17%;
            left: 32%;
        }

        .tooltip-7 {
            top: 87%;
            left: 54%;
        }

        .tooltip-8 {
            top: 50%;
            left: 59%;
        }
    }

    .tooltip-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .tooltip {
        @include shadow;
        $size: 25px;
        width: $size;
        height: $size;
        border-radius: 100%;
        border: 5px solid $white-1;
    }


    .tooltip-country {
        @include text-3-bold;
        margin: 5px 0 0;
    }




}