@use '../../styles/settings/index.scss' as *;

$circle-size: 37rem;

.container {}


.title,
.paragraph,
.inner-text,
.bold {
    color: $dark-2;
}

.map-text {
    .text {
        @include text-1-bold;
        margin: 0;
        text-transform: uppercase;
        color: $purple-2;
    }

    .number {
        margin: 0;
        @include number-1;
        color: $blue-4;
    }

}

.paragraph {
    @include text-3-regular;
}

.inner-text {
    @include text-4-regular;
}

.bold {
    @include text-4-bold;
}

.value-title {
    @include text-3-bold;
    color: $purple-1;
    text-transform: uppercase;
    margin: 5px 0;
}

.reach-title {
    margin: 0 $l-x-gap;
}

.automotive {
    color: $pink-1;
}

.equipment{
    color: $yellow-1;
}

.mnE{
    color: $purple-1;
}

.aerospace{
    color: $blue-4;
}

.who-we-are {
    padding: $l-y-gap $l-x-gap;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 30px;

    .col1 {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 0;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .col3 {
        grid-area: 1 / 2 / 2 / 3;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .card1,
        .card2,
        .card3 {
            border-radius: $border-radiusx2;
            background-color: $purple-3;
            padding: 20px;
            text-align: center;

            .value-title-deco {
                padding: 5px auto;
                background: $white-1;
                border-radius: 10rem;
                display: flex;
                justify-content: center;
            }
        }
    }
}


.reach{
    margin: $l-y-gap 0;
}
.reach-container {
    $margin-top: 0px;
    margin: 0 $l-x-gap;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    place-items: center;


    .wrapper {
        grid-area: 1 / 2 / 2 / 3;
        // background-color: $white-1;
        // border-radius: 50rem 50rem 0 0;
        z-index: 1;
        margin-top: $margin-top;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        place-items: center;

        .modal-map,
        .map-text {
            grid-area: 1/1/2/2;
        }

        .map-text {
            justify-self: center;
            align-self: flex-start;
            margin-top: 10rem;
        }

    }

    .content {
        margin-top: $margin-top;
        grid-area: 1 / 1 / 2 / 4;
        display: flex;
        flex-direction: column;
        width: 95%;
        row-gap: 10px;
    }


}

.country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;

    .country-intro {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .country-name {
        @include text-3-bold;
        text-transform: uppercase;
        color: $dark-2;
    }

    .country-info {
        @include text-4-bold;
        color: $grey-1;
        width: 20rem;
        padding: 0 1rem;
        list-style: none;

    }

    .country-image {
        margin-left: -2rem;
    }
}