@use '../../styles/settings/index.scss' as *;


.link {
    @include hover-scale;
    text-decoration: none;
    display: flex;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.text-container,
.icon-container {
    border-radius: 10rem;
}

.text-container {
    @include text-3-regular;
    text-transform: capitalize;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    .icon{
        width: 15px;
        height: auto;
    }
}

// .icon-container {
//     $size: 44px;
//     height: $size;
//     width: $size; 
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .icon{
//         width: calc($size - 32px);
//         height: auto;
//     }
// }

// @include gt-sm{

// }