@use 'settings/index.scss' as *;

.container{
    // margin: 2rem;
    position: relative;
}

.watermark{
    @include text-5-regular;
    letter-spacing: 8px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    position: fixed;
    top: 22%;
    left:15px;
    z-index: 1000;
}

.copyright{
display: flex;
align-items: center;
justify-content: center;
background-color: $blue-1;
    .text{
        @include text-4-regular;
        color: $white-1
    }
}

